@import url(https://fonts.googleapis.com/css?family=Lato:300|Lobster);

html {
  height: 100%;
}

html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
body {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    height: 100%;
    widht: 100%;
    background-repeat: no-repeat;
    line-height: 100%;
    font-size: 14px;
    background: repeating-linear-gradient(
        120deg,
        #fff,
        #fff 10px,
        #F5F5F5 10px,
        #F5F5F5 20px
    );
    background: -webkit-repeating-linear-gradient(
        120deg,
        #fff,
        #fff 10px,
        #F5F5F5 10px,
        #F5F5F5 20px
    );
}
h1 {
  margin: 90px auto 0 auto;
  font-size: 38px;
  font-weight: 200;
  line-height: 60px;
  text-align: center;
  max-width: 910px;
  color: #333;
  font-family: 'Lobster',cursive;
  font-size: 100px !important;
  color: #e1352f;
  text-shadow: 0 1px 1px #000;
}
#main {
  text-align: center;
  background-color: #f5f5f5;
  padding-bottom: 120px;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  h1.logotype {
    font-size:50px !important;
  }
  h1.slogan {
    font-size:22px !important;
  }
}

@font-face {
  font-family: 'si';
  src: url('../socicon/socicon.eot');
  src: url('../socicon/socicon.eot?#iefix') format('embedded-opentype'),
       url('../socicon/socicon.woff') format('woff'),
       url('../socicon/socicon.ttf') format('truetype'),
       url('../socicon/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family:si;
      src: url(../socicon/socicon.svg) format(svg);
  }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    text-align: center;
    margin-top: 50px;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 23px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-right: 15px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-google {
    background-color: #d93e2d;
}
.soc-google:before {
    content:'c';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-github {
    background-color: #4a4a4a;
}
.soc-github:before {
    content:'Q';
}
