body {
  background: none repeat scroll 0 0 #f3f3f3;
  color: #777;
  font-family: "Lucida Sans","Lucida Sans Regular","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
  font-size: 18px;
  line-height: 1;
  height: 100%;
  min-width: 100%;
}

#wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
}

header img {
  opacity: .8
}

section {
  padding: 20px 0;
  border-top: 1px solid #DBDBDB;
}

a {
  color: #008df2;
  text-decoration: underline;
}

a:hover, a:visited {
  text-decoration: none;
}

a.see-more {
  font-style: italic;
  font-size: 14px;
  color: #555;
}

h1 {
  display: inline-block;
color: #e1352f;
       font-family: "Lobster";
       font-size: 2.8em;
       font-weight: 200;
       line-height: 60px;
margin: 90px 12px 0;
	max-width: 910px;
	text-align: center;
	text-shadow: 0 1px 1px #777;
}

h4 {
  font-style: italic;
  font-weight: normal;
  color: #BCBCBC
}

body h2 {
  color: #777;
  font-size: 24px;
  font-family: "Lobster";
  letter-spacing: 0.2em
}

section.non-top {
  border: none;
}

section.analytics {
  text-align: center
}

article time {
  font-size: 11px;
  text-transform: uppercase
}

article {
  line-height: 32px;
}

.soc {
    list-style: outside none none;
    margin: 50px 0 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.soc li {
    display: inline-block;
}

.soc li a {
  margin-right: 15px;
}
