/*===============================
=            Vitrine            =
===============================*/

.bloco-blog{
	.item{
		margin: 20px 0;
		
		padding:10px;
		display: block;
		overflow:hidden;
		background: #fff;
		figure{
			
			&:hover{
				a{
					img{
						width: 100%;
						height:auto;
						@include transform(Scale(1.1));
					}
				}
			}
			.img-link{
				display:block;
				overflow: hidden;
				border:2px solid #fff;
				img{
					width: 100%;
					height:auto;
					@include transform(Scale(1));
					@include transition(all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1));

				}

				&:hover{
					img{
						width: 100%;
						height:auto;
						@include transform(Scale(1.1));
					}
				}
			}

			figcaption{
				position:relative;
				padding: 10px;
				min-height: 240px;
				div.bt{
					text-align: center;
					margin-top: 45px;
				}
				.data{
					font-weight: 600;
					color: #999999;
					i{
						vertical-align: middle;
					}
				}
				.titulo-item-blog{
					font-family: 'Open Sans', sans-serif;
					font-size:18px;
					line-height: 22px;
					font-weight: 700;
					color: #23585c;
				}
				.descricao{
					font-size:12px;
					color: #999999;
				}
				.fake-btn{
					color: #fff;
					width: 80px;
					font-size: 10px;
					font-weight: 800;
					float: right;
					position: absolute;
					right: 10px;
					top: 50%;
					margin-top: -13.5px;
					background: #fff;
				}
			}
			@include transition-property(all);
			@include transition-duration(.3s);
			@include transition-timing-function(ease-in-out);
		}
		&:hover, &:focus, &:hover:focus{
			text-decoration: none;

			figure{

			}
		}
	}

	.social{
		.comentarios{
			i{
				span{
					display: block;
				}

			}
		}
	}
	
}