/*=================================
=             Contato             =
=================================*/

#blog{
	
	article{
		background-color: #f0f0f0;
		padding: 30px;
		margin-bottom:  45px;

		time{
			
			color: #fff;
			font-weight: 700;
			position:absolute;
			left:-15px;
			top:-15px;
			font-size:30px;
			h4{
				position: absolute;
				text-align: center;
				font-size: 26px;
				z-index: 99999999;
				margin-left: 15px;
				margin-top: -5px;


				span{
					font-weight: 400;
					font-size:16px;
					display:block;
					text-transform: uppercase;
				}

				@media (max-width: $break-mobile) {
					position: absolute;
					font-size: 22px;
					z-index: 99999999;
					margin-left: 40px;
					margin-top: 20px;
					span{
						font-size: 11px;
					}
				}
			}


			span.bg{
				content: "";
				position:absolute;
				left: 0;
				top:0;
				width: 80px;
				height: 80px;
				background: #b18350;
				/* Rotate */
				@include transform(rotate(-45deg));

				/* Rotate Origin */
				-webkit-transform-origin: 0 100%;
				-moz-transform-origin: 0 100%;
				-ms-transform-origin: 0 100%;
				-o-transform-origin: 0 100%;
				transform-origin: 0 100%;
				margin: -8px 0px 0 30px;
				

				@media (max-width: $break-mobile) {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 45px;
					height: 50px;
					background: #b18350;
					/* -webkit-transform: rotate(-50deg); */
					-moz-transform: rotate(0);
					-ms-transform: rotate(0);
					-o-transform: rotate(0);
					transform: rotate(0);
					-webkit-transform-origin: 0 100%;
					-moz-transform-origin: 0 100%;
					-ms-transform-origin: 0 100%;
					-o-transform-origin: 0 100%;
					transform-origin: 0 100%;
					margin: 15px 0px 0 31px;
				}
			}
		}

		p{
			line-height: 20px;
		}


		footer{
			background: transparent;
			padding:0;
			min-height: auto;
			padding: 5px;
			span.tag{
				color: #b18350;
				text-transform: uppercase;
				margin-right: 10px;
				line-height: 18px;
				float:left;
			}
			ul{
				text-align:left;
				li{
					color: #b18350;
					a{
						font-weight:400;
						color: #b18350;
					}
					&:before{
						content: "/ ";
						margin: 0 10px 0 0;
						display: inline-block;
					}
				}
			}

			

			.social{
				display: inline-block;
				width: 100%;

				@media (max-width: $break-mobile) {
					text-align:left;
				}

				.share{
					float:left;
				}

				.comentarios{
					display: inline-block;
					float:right;
					text-transform: uppercase;
					color: #00484c;
					i{
						color: #fff;
						vertical-align: middle;
						span{
							display:block;
							color: #fff;
							margin-left: 12.5px;
							margin-top: 7.5px;
						}
					}

					@media (max-width: $break-mobile) {
						float:left;
					}
				}


			}
			hr {
				margin-top: 5px;
			}
		}

		.meta-post{
			margin: 15px 0;
		}
	}

	.post-image{
		width:100%;
		height:auto;
	}
	hr{
		border-color: #acacac;
	}

	.mais-lidas{
		ul{
			li{
				a{
					display:block;
					font-size:14px;
					text-transform: initial;
					margin-bottom: 15px;
				}
			}
		}
	}
}