/*==============================
=            Footer            =
==============================*/



footer {
	@include transition(all 1s ease-in-out);
	p{
		color: #fff;
	}
	background: #23585c;
	color: #fff;
	min-height: 200px;
	padding: 55px 0;
	// margin-top: 40px;

	@media (max-width: $break-mobile) {
	text-align: center;
	}
	
	.logotipo {
		margin-top:15px;
		text-align: center;
	}
	.logotipo a{
		background: url(../images/langsnutri-footer.png);
		padding: 0;
		background-repeat: no-repeat;
		background-size: cover;
		display:inline-block;
		width: 205px;
		height: 39px;
		margin: 10px;
		display:inline-block;
		text-indent: -1000%
	}

	hr{
		@include opacity(0.3);
		border-color: #fff;
	}

	span{
		font-size: 10px;
	}

	h4{
		&:after{
			content: "";
			position: relative;
			display: block;
			bottom: 0;
			height: 3px;
			width: 54px;
			margin: 15px 0 30px;
			background-color: #b18350;
			
			@media (max-width: $break-mobile) {
        		margin: 15px auto 30px;
        	}
		}
	}

	.sobre-footer{
		p{
			font-size:11px;
			font-weight: 300;
			margin-top: 28px;
			text-align: justify;
			line-height: 22px;

			@media (max-width: $break-mobile) {
			text-align: center;
			}

		}
		a{
        // background: url(../images/logotipo.png);
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        display:block;
        width: 200px;
        height: 42px;
        margin: 10px;
        text-indent: -1000%;

        @media (max-width: $break-mobile) {
        	margin: 10px auto;

        }

        h4{
        	text-indent: -999999px;
        	display: block;
        	width: 100%;
        	height: 42px;
        	&:after{
        		content: none;
        	}
        	
        }

    }
}

.footer-links{
	padding: 0;
	list-style: none;

	li{
		a{
			color:#fff;
			line-height: 26px;
		}
	}
	p{
		font-size:12px;
		font-weight: 300;
	}
}

.footer-contato{
	

	.item-footer-contato{
		line-height: 16px;
		margin-bottom:15px;

		i{

		}
		span{
			display:block;
			font-size: 11px;
			font-weight: 300;

			&.phone{
				padding: 5px 0;
			}
		}
	}

}

}