/*==========================================
=            Header - Main Menu            =
==========================================*/
/*header*/
header{

  .navbar{
    margin-bottom:0;
    background: #00484c;
    border: none;
    border-radius:0;

    &.navbar-default{
      height:90px;
      z-index: 999999;
      @media (max-width: $break-mobile) {
        height:auto;
      }

      .navbar-right{

        .onde-encontrar{

          &.active{
           @media (max-width: $break-mobile) {
            i{
              background-position: 0 -209px;
            }
          }


        }
        a{
          padding: 6.5px 25px;
          color: #b48857;
          height: 50px;
          
          @media (max-width: $break-large){
            padding: 6.5px 0;
          }

          &:hover{
            color: #b48857;
          }
          @media (max-width: $break-mobile) {
            height:44px;
            padding: 6px 10px;
            display: block;
            width: 100%;
          }
          i{
            float:left;
            display: inline-block;
            margin-right: 10px;
            
            @media (max-width: $break-desktop) {
              margin-right: 2px;
            }
            @media (max-width: $break-mobile) {
             margin-top: -2px;
             margin-right: 10px;
           }
         }
         span{
          display: inline-block;
          width: 80px;
          font-weight: 600;
          float:right;
          @media (max-width: $break-mobile) {
            width: auto;
            line-height: 32px;
            float: left;
          }
        }
      }
    }
    .icons{
      padding: 6.5px 7.5px;

      span{
        display:none;
      }
      @media (max-width: $break-mobile) {
        padding: 6px 10px;

        span{
          display:inline-block;
          line-height: 34px;
        }
        i{
          margin-right: 10px;
          margin-top: -9px;
        }
      }
    }
  }

  .navbar-collapse, .navbar-form {
    border-color: transparent;
  }


  .navbar-nav>li{
   @media (max-width: $break-mobile) {
    border-bottom: 1px solid rgba(255,255,255,.1);

    &.open>a, &.open>a:focus, &.open>a:hover{
      background-color: #003c40;
      color: #fff;
    }
  }

  &.open>a, &.open>a:focus, &.open>a:hover{
    background-color: transparent;
    color: #fff;
  }


  &.active>a, &.active>a:focus, &.active>a:hover{
    @include transition(color 0.4s ease-in-out);

    background: transparent;
    color: #b48857;
    @media (max-width: $break-mobile) {
     background: #b48857;
     color: #fff;
     &:hover{
      background: #b48857;
      color: #fff;
    }
  }
}
&>a{
  @include transition(color 0.4s ease-in-out);
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  font-size:12px;
  font-weight: lighter;

  @media (max-width: $break-large) {
    padding: 10px;
  }
  @media (max-width: $break-desktop){
    padding: 15px 10px;
    font-size:12px;
  }
  @media (max-width: $break-mobile) {
    &:hover{
      background: transparent;
      color: #fff;
    }
  }


}
}

.navbar-collapse{
  ul{
    padding: 20px 0;
    @media (max-width: $break-mobile) {
      padding:0;
      margin: 0 -15px;
    }
  }
}
}
    // .logotipo {
    //   margin-top:15px;
    // }
    .navbar-brand 
    {
      height: 90px;
      padding: 15px 0px;
      @media (max-width: $break-desktop) {
        height: 50px;
        padding: 0;
      }
      @media (max-width: $break-mobile) {
       padding: 0 15px;
     }
     a{
        // background: url(../images/logotipo.png);
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        display:block;
        width: 200px;
        height: 42px;
        margin: 10px;
        
        text-indent: -1000%;

        

        h1{
          text-indent: -999999px;
          display: block;
          width: 100%;
          height: 42px;
          margin-top: 12px;

          @media (max-width: $break-desktop) {
           background-size: inherit;
           background-position: 0 -119px;
           height: 32px;
           margin: 30px  0px;

         }
         @media (max-width: $break-mobile) {
          margin: inherit;
        }
      }

      @media (max-width: $break-desktop) {
        width: 150px;
        height: 31px;
      }

      @media (max-width: $break-mobile) {
        margin: 10px 0;
      }
    }
  }
}

.navbar-default .navbar-toggle {
  padding: 9px 0px;
  border-color: #fff;
  border: none;
  &:hover, &:hover:active,  &:focus, &:hover:focus, &:active:hover, &:active:focus,  &:focus:hover, &:focus:active{
    background:transparent !important;
  }


  .icon-bar {
    background-color: #fff;
  }
}


.nav .dropdown ul.dropdown-menu{
  margin-top: 35px;
  padding: 0 ;
  border-radius: 0;
  border: 0;
  background: #00484c;
  color: #fff;
  @media (max-width: $break-mobile) {
    margin: 0;
  }

  &.left{
    &:before{
     content: '';
     position: absolute;
     bottom: 100%;
     left: 0;
     margin-left: 20px;
     width: 0;
     height: 0;
     border-bottom: 10px solid #00484c;
     border-right: 10px solid transparent;
     border-left: 10px solid transparent;

     @media (max-width: $break-mobile) {
      content:none;
    }
  }
}

&.right{
  &:before{
   content: '';
   position: absolute;
   bottom: 100%;
   right: 0;
   margin-right: 20px;
   width: 0;
   height: 0;
   border-bottom: 10px solid #00484c;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
   @media (max-width: $break-mobile) {
    content:none;
  }
}
}

&.center{
  &:before{
   content: '';
   position: absolute;
   bottom: 100%;
   left: 50%;
   margin-left: -10px;
   width: 0;
   height: 0;
   border-bottom: 10px solid #00484c;
   border-right: 10px solid transparent;
   border-left: 10px solid transparent;
   @media (max-width: $break-mobile) {
    content:none;
  }
}
}


&>li{
  border-bottom: 1px solid #00676e;
  &:last-child{
    border-bottom:none;
  }
  @media (max-width: $break-mobile) {
   &:first-child{
    border-bottom: 1px solid #00676e;
  }
  @media (max-width: $break-mobile) {
    background: rgba(255,255,255,0.1);
    a{
      color: #fff!important;
    }
  }
}
&>a {
  @include transition(all 0.4s ease-in-out);
  display: block;
  font-size:12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  padding: 7.5px 15px;
  clear: both;

  &:hover{
    background:#b48857;
    color: #fff;
  }
}
}
}

.search{
  padding: 5px 10px !important;
  
  .search-header{
    min-width: 180px;
    button{
      position: absolute;
      background: transparent;
      border: none;
      color: #fff;
      right: 10px;
      padding: 6px 5px;

      &:hover, &:focus,{
        background: transparent;
        border: none;
        color: #fff;
      }
    } 

    @media (max-width: $break-mobile) {
      display: inline-block;
      width: 100%;
    }



    input[type="text"] {
      border:0;
      padding: 5px 0;
      font-size:12px;
      font-weight: 300;
      border-bottom: 1px solid rgba(255,255,255,0);
      @include transition(all 0.3s ease-in-out);
      @include input-placeholder {
        color: #fff;
        @include opacity(.5);
        text-transform: uppercase;
      }

      &:focus {
       border-bottom: 1px solid rgba(255,255,255,1);
       outline: 0;
       @include box-shadow(none);
     }
   }

 }
}
}



.header-img{
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  z-index: -1;

  @media (max-width: $break-mobile) {
    display:none;
  }

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/angle1.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
  }

  // @media (max-width: $break-mobile) {
  //   margin-top: 30px;

  //   &::before{
  //     // background: none;
  //     background: none;
  //   }
  // }
  &.institucional{

  }
  img{
    width: 100%;
    height: auto;
  }
}


