/*=================================
=              Linhas             =
=================================*/

#header-search{
border-top: 4px solid #b48857;
border-bottom: 1px solid #b48857;
padding: 15px 0;
}

#linhas{
	a{
		display:block;
		cursor:pointer;

		figure{
			position:relative;
			margin-bottom: 50px;

			img{
				width:100%;
				height:auto;
			}
			figcaption{
				@include transition(all 0.4s ease-in-out);
				@include opacity(0);
				position: absolute;
				display: block;
				padding: 15px;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,72,76,.8);

				@media (max-width: $break-mobile) {
					@include opacity(1);
					height: 80px;
					top: inherit;
					bottom: 0;
				}
				h3{
					position:absolute;
					margin: 15px 0;
					bottom:0;
					color: #fff;
					font-size: 20px;
					text-transform: uppercase;
					letter-spacing: .1em;

					span{
						font-size:26px;
						font-weight: 700;
						display:block;
						@media (max-width: $break-mobile) {
							font-size:22px;
						}
					}

					&:after {
						content: "";
						position: relative;
						display: block;
						bottom: 0;
						height: 3px;
						width: 54px;
						margin: 15px 0 0;
						background-color: #b18350;
						@media (max-width: $break-mobile) {
							margin: 10px 0 15px;
						}
					}
					@media (max-width: $break-mobile) {
						margin:0;
						font-size:16px;
					}
				}
			}
		}

		&:hover{
			figcaption{
				@include opacity(1);
			}
		}
	}
}