@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
.icons-sprite, .icons-arrow-filter, .icons-arrow, .icons-blog-coments, .icons-facebook, .icons-instagram, .icons-logotipo, .icons-mail, .icons-map-icon-white, .icons-map-icon, .icons-pesquisa, .icons-phone, .icons-pin {
  background-image: url('../../assets/images/icons-s30721e994d.png');
  background-repeat: no-repeat; }

.icons-arrow-filter {
  background-position: 0 0; }

.icons-arrow {
  background-position: 0 -7px; }

.icons-blog-coments {
  background-position: 0 -52px; }

.icons-facebook {
  background-position: 0 -87px; }

.icons-instagram {
  background-position: 0 -122px; }

.icons-logotipo {
  background-position: 0 -157px; }

.icons-mail {
  background-position: 0 -199px; }

.icons-map-icon-white {
  background-position: 0 -253px; }

.icons-map-icon {
  background-position: 0 -288px; }

.icons-pesquisa {
  background-position: 0 -323px; }

.icons-phone {
  background-position: 0 -358px; }

.icons-pin {
  background-position: 0 -393px; }

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*media querie*/
/*============================
=            Base            =
============================*/
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #8c8c8c; }
  body.open {
    overflow: hidden; }

object {
  display: none; }

form textarea {
  resize: none; }

.h1, .h2, .h3, .h4, .h5, .h6 h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px; }

.h1, h1 {
  font-size: 28px; }
  @media (max-width: 767px) {
    .h1, h1 {
      font-size: 22px; } }

.h2, h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

p {
  color: #3e3e3e;
  font-size: 14px;
  line-height: 26px;
  font-weight: 200; }
  @media (max-width: 1200px) {
    p {
      font-size: 12px; } }

a, a:active, a:focus {
  outline: none;
  -moz-outline-style: none; }

.breadcrumb {
  padding: 0;
  margin: 25px 0;
  list-style: none;
  background-color: transparent;
  border-radius: 4px; }
  .breadcrumb a {
    color: #495360; }

@media (min-width: 1200px) {
  .container {
    width: 1024px; } }
li.active.bg-cor-cli a {
  background-color: #495360; }

li.active.bg-cor-cli a:hover, li.active.bg-cor-cli a:focus, li.active.bg-cor-cli a:active {
  background-color: #495360; }

.text-gray {
  color: #9b9b9b; }

.btn-margem {
  margin: 30px 0 10px; }

.margem-topo {
  margin-top: 20px; }

.margem-topo-lg {
  margin-top: 60px; }

.margem-bottom-lg {
  margin-bottom: 60px; }

/* Components */
.btn i.icon-right {
  margin-right: 10px; }
.btn i.icon-left {
  margin-left: 10px; }

.btn-primary {
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  background: #495360;
  border-color: #495360;
  color: #fff; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary:active:focus, .btn-primary.active:focus, .btn-primary.focus, .btn-primary:focus {
    background-color: #353e4a;
    border-color: #353e4a;
    color: #fff; }

.form-control {
  background: none;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #3e3e3e;
  background-image: none;
  border: 1px solid #dadada;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }

.form-control:focus {
  border-color: #dadada;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px #dadada;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px #dadada;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px #dadada; }

.input-group .form-control {
  position: relative;
  z-index: 9;
  float: left;
  width: 100%;
  margin-bottom: 0; }

.control-label {
  color: #9b9b9b;
  font-weight: 600;
  font-size: 10px; }

@media screen and (max-width: 767px) {
  .margem-xs {
    margin-top: 20px; } }
/*=================================
=            Paginação            =
=================================*/
.pagination > li > a, .pagination > li > span {
  margin: 5px;
  border-radius: 50% !important;
  position: relative;
  float: left;
  padding: 5px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #777777;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd; }

/* MODAL */
.modal-header {
  min-height: none;
  padding: 15px 15px 0;
  border-bottom: none; }

.modal-footer {
  border-top: none; }

.close {
  outline: none;
  width: 20px;
  text-align: center; }

.modal-content {
  -webkit-box-shadow: none;
  box-shadow: none; }

.help-block {
  margin-bottom: 0; }

label.error {
  color: #de8989;
  font-size: 10px;
  font-weight: 400; }

#alerta {
  display: none;
  width: 100%; }

/* scroll fixes */
.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll; }

.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity: .8; }

.bloco {
  padding: 50px 0 40px; }

.bg-off {
  background-color: #f0f0f0; }

h2.sec-titulo {
  color: #00484c;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1em; }
  h2.sec-titulo a {
    color: inherit;
    font-size: inherit;
    font-weight: 700;
    text-transform: initial; }
  h2.sec-titulo span {
    font-size: 36px;
    font-weight: 700;
    display: block; }
  h2.sec-titulo:after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    height: 3px;
    width: 54px;
    margin: 15px 0 45px;
    background-color: #b18350; }
    @media (max-width: 767px) {
      h2.sec-titulo:after {
        margin: 15px 0 15px; } }
  h2.sec-titulo.center:after {
    margin: 15px auto 15px; }

h3.int-titulo {
  color: #b18350;
  font-size: 36px;
  letter-spacing: .1em;
  margin-top: 0;
  text-transform: uppercase; }
  h3.int-titulo span {
    font-weight: 700; }

.no-margin {
  margin-top: 0 !important; }

[class^="icons-"],
[class*=" icons-"] {
  display: inline-block;
  width: 35px;
  height: 35px;
  *margin-right: .3em;
  /* ie7-restore-right-whitespace */
  vertical-align: text-top;
  background-repeat: no-repeat; }
  [class^="icons-"].lg-icon,
  [class*=" icons-"].lg-icon {
    width: 54px;
    height: 54px; }

.frame {
  position: relative; }
  .frame::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/angle-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 0; }
  @media (max-width: 767px) {
    .frame {
      margin-top: 30px; }
      .frame::before {
        background: none; } }

.way-animation {
  opacity: 0; }

.way-animation.animated {
  opacity: 1; }

/* Conteúdo */
.conteudo {
  margin: 50px 0; }
  @media (max-width: 767px) {
    .conteudo {
      margin: 30px 0; } }

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999999999;
  height: 100%; }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px; }

/* Box */
.box {
  background-color: #f0f0f0;
  padding: 22px;
  margin-bottom: 45px; }
  .box h3 {
    color: #00484c;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em; }
    .box h3:after {
      content: "";
      position: relative;
      display: block;
      bottom: 0;
      height: 3px;
      width: 54px;
      margin: 15px 0 25px;
      background-color: #b18350; }
      @media (max-width: 767px) {
        .box h3:after {
          margin: 15px 0 15px; } }
    .box h3.center:after {
      margin: 15px auto 15px; }
  .box p {
    color: #b18350; }
    .box p span {
      line-height: 12px;
      font-weight: bold;
      display: block; }
  .box .uppercase {
    text-transform: uppercase; }
    .box .uppercase a {
      font-weight: 700;
      color: #b18350; }
  .box ul {
    list-style: none;
    padding: 0; }
    .box ul li a {
      color: #b18350;
      text-transform: uppercase; }

/*==============================
=            Botões            =
==============================*/
.btn-primary {
  font-weight: 300;
  letter-spacing: .1em;
  padding: 5px 20px;
  text-transform: uppercase;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-size: 3px;
  color: #fff;
  background: #b18350;
  border-color: #b18350;
  margin-top: 15px; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:focus:hover, .btn-primary:active:hover, .btn-primary:active:focus {
    background: transparent;
    color: #b18350;
    border-color: #d29344; }

.btn-secondary {
  font-weight: 700;
  padding: 5px 20px;
  background-color: #ea2c37;
  border-color: #ea2c37;
  color: #fff; }
  .btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:focus:hover, .btn-secondary:active:hover, .btn-secondary:active:focus {
    background-color: #bd000b;
    border-color: #bd000b;
    color: #fff; }

.btn-nav {
  font-weight: 700;
  padding: 5px 20px;
  text-transform: uppercase;
  background-color: #fff;
  border-color: #888888;
  color: #888888; }
  .btn-nav:hover, .btn-nav:active, .btn-nav:focus, .btn-nav:focus:hover, .btn-nav:active:hover, .btn-nav:active:focus {
    background-color: #888888;
    border-color: #888888;
    color: #fff; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0; }

.btn {
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.btn-rd {
  border-radius: 30px; }

.btn-outline {
  border: 1px;
  border-style: solid;
  background: transparent; }

.btn-veja {
  margin: 5px 0px;
  padding: 4px 10px;
  border: 1px;
  border-style: solid;
  border-radius: 30px;
  border-color: #878787;
  color: #878787;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif; }
  .btn-veja:hover, .btn-veja:active, .btn-veja:focus, .btn-veja:focus:hover, .btn-veja:active:hover, .btn-veja:active:focus {
    padding: 4px 10px;
    border: 1px;
    border-style: solid;
    border-color: #878787;
    background-color: #878787;
    color: #fff; }

/*============================
=            Home            =
============================*/
#destaque {
  padding: 30px 0;
  margin-top: 70px; }
  #destaque .content {
    margin: 60px 0 110px; }
  #destaque .int-titulo {
    margin-bottom: 45px; }

#sobre {
  padding: 100px 0; }

#cadastro {
  padding: 40px 0; }
  #cadastro i {
    float: left;
    margin-right: 15px; }
  #cadastro h2, #cadastro h3 {
    display: block;
    text-transform: uppercase;
    color: #b18350;
    margin: 0; }
  #cadastro h2 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 14px; }
    @media (max-width: 768px) {
      #cadastro h2 {
        font-size: 20px; } }
  #cadastro h3 {
    font-size: 12px; }
    @media (max-width: 768px) {
      #cadastro h3 {
        font-size: 10px; } }
  #cadastro form {
    margin: 18px 0; }
    #cadastro form button[type=submit] {
      margin: 0; }
      @media (max-width: 767px) {
        #cadastro form button[type=submit] {
          margin-top: 15px;
          display: block;
          width: 100%; } }

/*=====================================
=            Institucional            =
=====================================*/
#header-pagina {
  position: relative; }

/*=================================
=            Downloads            =
=================================*/
#downloads h2 {
  color: #b18350;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1em; }
  #downloads h2:after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    height: 3px;
    width: 54px;
    margin: 15px 0 45px;
    background-color: #b18350; }
    @media (max-width: 767px) {
      #downloads h2:after {
        margin: 15px 0 15px; } }
#downloads figure {
  margin-bottom: 50px; }
  #downloads figure img {
    width: 100%;
    height: auto; }
  #downloads figure figcaption h3 {
    margin-bottom: 0;
    color: #00484c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600; }
  #downloads figure figcaption span {
    display: block;
    color: #00484c;
    font-size: 14px; }
  #downloads figure figcaption a {
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    color: #b18350;
    font-size: 16px;
    font-weight: 700; }

/*=================================
=              Linhas             =
=================================*/
#header-search {
  border-top: 4px solid #b48857;
  border-bottom: 1px solid #b48857;
  padding: 15px 0; }

#linhas a {
  display: block;
  cursor: pointer; }
  #linhas a figure {
    position: relative;
    margin-bottom: 50px; }
    #linhas a figure img {
      width: 100%;
      height: auto; }
    #linhas a figure figcaption {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      position: absolute;
      display: block;
      padding: 15px;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 72, 76, 0.8); }
      @media (max-width: 767px) {
        #linhas a figure figcaption {
          filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
          opacity: 1;
          height: 80px;
          top: inherit;
          bottom: 0; } }
      #linhas a figure figcaption h3 {
        position: absolute;
        margin: 15px 0;
        bottom: 0;
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: .1em; }
        #linhas a figure figcaption h3 span {
          font-size: 26px;
          font-weight: 700;
          display: block; }
          @media (max-width: 767px) {
            #linhas a figure figcaption h3 span {
              font-size: 22px; } }
        #linhas a figure figcaption h3:after {
          content: "";
          position: relative;
          display: block;
          bottom: 0;
          height: 3px;
          width: 54px;
          margin: 15px 0 0;
          background-color: #b18350; }
          @media (max-width: 767px) {
            #linhas a figure figcaption h3:after {
              margin: 10px 0 15px; } }
        @media (max-width: 767px) {
          #linhas a figure figcaption h3 {
            margin: 0;
            font-size: 16px; } }
  #linhas a:hover figcaption {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

/*=================================
=              Linha              =
=================================*/
#linha .header-linha {
  margin-bottom: 50px; }
  #linha .header-linha .sec-titulo {
    color: #b48857; }
  #linha .header-linha .linha-desc {
    padding: 0 50px; }
    @media (max-width: 767px) {
      #linha .header-linha .linha-desc {
        padding: 0 25px; } }
  #linha .header-linha h3 {
    margin-top: 40px;
    margin-bottom: 70px;
    color: #b48857;
    font-weight: 300; }
  #linha .header-linha p {
    line-height: 36px;
    font-size: 14px;
    margin-left: 50px; }
    @media (max-width: 767px) {
      #linha .header-linha p {
        margin-left: 0; } }
#linha .produtos a figure {
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  float: left;
  width: 20%;
  height: 159px;
  margin: 0 2px 5px;
  overflow: hidden; }
  #linha .produtos a figure img {
    width: 100%;
    height: auto; }
  #linha .produtos a figure figcaption {
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    text-align: center; }
    #linha .produtos a figure figcaption span {
      top: 50%;
      position: absolute;
      margin-top: -10px;
      margin-left: -15px; }
#linha .produtos a:hover figure {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75; }
#linha .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity; }

/*=================================
=               Busca             =
=================================*/
#header-search .form-control {
  border: none;
  padding: 0; }
  #header-search .form-control:-moz-placeholder {
    color: #b48857;
    text-transform: uppercase; }
  #header-search .form-control::-moz-placeholder {
    color: #b48857;
    text-transform: uppercase; }
  #header-search .form-control:-ms-input-placeholder {
    color: #b48857;
    text-transform: uppercase; }
  #header-search .form-control::-webkit-input-placeholder {
    color: #b48857;
    text-transform: uppercase; }
  #header-search .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
#header-search ul.filters {
  display: inline-block;
  margin: 8px 0; }
  #header-search ul.filters li a {
    color: #b48857; }
    #header-search ul.filters li a i {
      height: 8px;
      width: 12px;
      margin: 5px; }
    #header-search ul.filters li a:hover, #header-search ul.filters li a:focus, #header-search ul.filters li a:active {
      text-decoration: none; }
  #header-search ul.filters li ul.dropdown-menu {
    box-shadow: none;
    border: 1px solid #b48857;
    border-radius: 0;
    padding: 0;
    top: 39px;
    left: -100px; }
    #header-search ul.filters li ul.dropdown-menu li {
      font-size: 12px; }
      #header-search ul.filters li ul.dropdown-menu li a {
        padding: 10px;
        border-bottom: 1px solid #b48857; }
        #header-search ul.filters li ul.dropdown-menu li a:last-child {
          border: none; }

#busca a figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px; }
  #busca a figure img {
    width: 100%;
    height: auto; }
    #busca a figure img.hover-product {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      position: absolute;
      top: 0;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0; }
  #busca a figure figcaption {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    margin-bottom: -54px;
    width: 100%;
    padding: 10px;
    bottom: 0;
    background: #b48857;
    color: #fff; }
    @media (max-width: 767px) {
      #busca a figure figcaption {
        position: relative;
        margin-bottom: 0; } }
    #busca a figure figcaption h3 {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: lighter;
      margin: 0;
      text-decoration: none; }
    #busca a figure figcaption h4 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0; }
#busca a:hover {
  text-decoration: none; }
  #busca a:hover figure img.hover-product {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  #busca a:hover figure figcaption {
    margin-bottom: 0; }
#busca #items .mix {
  display: none; }
#busca .pager-list {
  text-align: center; }
  #busca .pager-list .pager {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    background: #fff;
    border: 1px solid #b48857;
    color: #b48857; }
    #busca .pager-list .pager.active {
      background-color: #b48857;
      color: #fff; }
    #busca .pager-list .pager.page-prev, #busca .pager-list .pager.page-next {
      padding: 7px 9px; }
      #busca .pager-list .pager.page-prev span, #busca .pager-list .pager.page-next span {
        font-family: 'Lato', sans-serif;
        font-size: 18px; }

/*=================================
=             Contato             =
=================================*/
#contato label {
  color: #b18350;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500; }
  #contato label.error {
    color: #de8989;
    font-size: 10px;
    font-weight: 400;
    text-transform: initial; }
#contato ::-webkit-input-placeholder {
  color: #b18350;
  font-size: 12px; }
#contato :-moz-placeholder {
  /* Firefox 18- */
  color: #b18350;
  font-size: 12px; }
#contato ::-moz-placeholder {
  /* Firefox 19+ */
  color: #b18350;
  font-size: 12px; }
#contato :-ms-input-placeholder {
  color: #b18350;
  font-size: 12px; }
#contato .form-group {
  margin-bottom: 35px; }
#contato .form-control {
  background: none;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #3e3e3e;
  background-image: none;
  border: 1px solid #b18350;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out; }
#contato .form-control:focus {
  border-color: #b18350;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(177, 131, 80, 0.075), 0 0 8px #b18350;
  -webkit-box-shadow: inset 0 1px 1px rgba(177, 131, 80, 0.075), 0 0 8px #b18350;
  box-shadow: inset 0 1px 1px rgba(177, 131, 80, 0.075), 0 0 8px #b18350; }
#contato .input-group .form-control {
  position: relative;
  z-index: 9;
  float: left;
  width: 100%;
  margin-bottom: 0; }

/*=================================
=             Contato             =
=================================*/
#blog article {
  background-color: #f0f0f0;
  padding: 30px;
  margin-bottom: 45px; }
  #blog article time {
    color: #fff;
    font-weight: 700;
    position: absolute;
    left: -15px;
    top: -15px;
    font-size: 30px; }
    #blog article time h4 {
      position: absolute;
      text-align: center;
      font-size: 26px;
      z-index: 99999999;
      margin-left: 15px;
      margin-top: -5px; }
      #blog article time h4 span {
        font-weight: 400;
        font-size: 16px;
        display: block;
        text-transform: uppercase; }
      @media (max-width: 767px) {
        #blog article time h4 {
          position: absolute;
          font-size: 22px;
          z-index: 99999999;
          margin-left: 40px;
          margin-top: 20px; }
          #blog article time h4 span {
            font-size: 11px; } }
    #blog article time span.bg {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 80px;
      background: #b18350;
      /* Rotate */
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      /* Rotate Origin */
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%;
      margin: -8px 0px 0 30px; }
      @media (max-width: 767px) {
        #blog article time span.bg {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 45px;
          height: 50px;
          background: #b18350;
          /* -webkit-transform: rotate(-50deg); */
          -moz-transform: rotate(0);
          -ms-transform: rotate(0);
          -o-transform: rotate(0);
          transform: rotate(0);
          -webkit-transform-origin: 0 100%;
          -moz-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
          -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
          margin: 15px 0px 0 31px; } }
  #blog article p {
    line-height: 20px; }
  #blog article footer {
    background: transparent;
    padding: 0;
    min-height: auto;
    padding: 5px; }
    #blog article footer span.tag {
      color: #b18350;
      text-transform: uppercase;
      margin-right: 10px;
      line-height: 18px;
      float: left; }
    #blog article footer ul {
      text-align: left; }
      #blog article footer ul li {
        color: #b18350; }
        #blog article footer ul li a {
          font-weight: 400;
          color: #b18350; }
        #blog article footer ul li:before {
          content: "/ ";
          margin: 0 10px 0 0;
          display: inline-block; }
    #blog article footer .social {
      display: inline-block;
      width: 100%; }
      @media (max-width: 767px) {
        #blog article footer .social {
          text-align: left; } }
      #blog article footer .social .share {
        float: left; }
      #blog article footer .social .comentarios {
        display: inline-block;
        float: right;
        text-transform: uppercase;
        color: #00484c; }
        #blog article footer .social .comentarios i {
          color: #fff;
          vertical-align: middle; }
          #blog article footer .social .comentarios i span {
            display: block;
            color: #fff;
            margin-left: 12.5px;
            margin-top: 7.5px; }
        @media (max-width: 767px) {
          #blog article footer .social .comentarios {
            float: left; } }
    #blog article footer hr {
      margin-top: 5px; }
  #blog article .meta-post {
    margin: 15px 0; }
#blog .post-image {
  width: 100%;
  height: auto; }
#blog hr {
  border-color: #acacac; }
#blog .mais-lidas ul li a {
  display: block;
  font-size: 14px;
  text-transform: initial;
  margin-bottom: 15px; }

/*===============================
=            Vitrine            =
===============================*/
.bloco-blog .item {
  margin: 20px 0;
  padding: 10px;
  display: block;
  overflow: hidden;
  background: #fff; }
  .bloco-blog .item figure {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
    .bloco-blog .item figure:hover a img {
      width: 100%;
      height: auto;
      -moz-transform: Scale(1.1);
      -ms-transform: Scale(1.1);
      -webkit-transform: Scale(1.1);
      transform: Scale(1.1); }
    .bloco-blog .item figure .img-link {
      display: block;
      overflow: hidden;
      border: 2px solid #fff; }
      .bloco-blog .item figure .img-link img {
        width: 100%;
        height: auto;
        -moz-transform: Scale(1);
        -ms-transform: Scale(1);
        -webkit-transform: Scale(1);
        transform: Scale(1);
        -moz-transition: all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        -o-transition: all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        -webkit-transition: all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        transition: all 1.2s cubic-bezier(0.39, 0.575, 0.565, 1); }
      .bloco-blog .item figure .img-link:hover img {
        width: 100%;
        height: auto;
        -moz-transform: Scale(1.1);
        -ms-transform: Scale(1.1);
        -webkit-transform: Scale(1.1);
        transform: Scale(1.1); }
    .bloco-blog .item figure figcaption {
      position: relative;
      padding: 10px;
      min-height: 240px; }
      .bloco-blog .item figure figcaption div.bt {
        text-align: center;
        margin-top: 45px; }
      .bloco-blog .item figure figcaption .data {
        font-weight: 600;
        color: #999999; }
        .bloco-blog .item figure figcaption .data i {
          vertical-align: middle; }
      .bloco-blog .item figure figcaption .titulo-item-blog {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: #23585c; }
      .bloco-blog .item figure figcaption .descricao {
        font-size: 12px;
        color: #999999; }
      .bloco-blog .item figure figcaption .fake-btn {
        color: #fff;
        width: 80px;
        font-size: 10px;
        font-weight: 800;
        float: right;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -13.5px;
        background: #fff; }
  .bloco-blog .item:hover, .bloco-blog .item:focus, .bloco-blog .item:hover:focus {
    text-decoration: none; }
.bloco-blog .social .comentarios i span {
  display: block; }

/*==========================================
=            Header - Main Menu            =
==========================================*/
/*header*/
header .navbar {
  margin-bottom: 0;
  background: #00484c;
  border: none;
  border-radius: 0; }
  header .navbar.navbar-default {
    height: 90px;
    z-index: 999999; }
    @media (max-width: 767px) {
      header .navbar.navbar-default {
        height: auto; } }
    @media (max-width: 767px) {
      header .navbar.navbar-default .navbar-right .onde-encontrar.active i {
        background-position: 0 -209px; } }
    header .navbar.navbar-default .navbar-right .onde-encontrar a {
      padding: 6.5px 25px;
      color: #b48857;
      height: 50px; }
      @media (max-width: 1200px) {
        header .navbar.navbar-default .navbar-right .onde-encontrar a {
          padding: 6.5px 0; } }
      header .navbar.navbar-default .navbar-right .onde-encontrar a:hover {
        color: #b48857; }
      @media (max-width: 767px) {
        header .navbar.navbar-default .navbar-right .onde-encontrar a {
          height: 44px;
          padding: 6px 10px;
          display: block;
          width: 100%; } }
      header .navbar.navbar-default .navbar-right .onde-encontrar a i {
        float: left;
        display: inline-block;
        margin-right: 10px; }
        @media (max-width: 992px) {
          header .navbar.navbar-default .navbar-right .onde-encontrar a i {
            margin-right: 2px; } }
        @media (max-width: 767px) {
          header .navbar.navbar-default .navbar-right .onde-encontrar a i {
            margin-top: -2px;
            margin-right: 10px; } }
      header .navbar.navbar-default .navbar-right .onde-encontrar a span {
        display: inline-block;
        width: 80px;
        font-weight: 600;
        float: right; }
        @media (max-width: 767px) {
          header .navbar.navbar-default .navbar-right .onde-encontrar a span {
            width: auto;
            line-height: 32px;
            float: left; } }
    header .navbar.navbar-default .navbar-right .icons {
      padding: 6.5px 7.5px; }
      header .navbar.navbar-default .navbar-right .icons span {
        display: none; }
      @media (max-width: 767px) {
        header .navbar.navbar-default .navbar-right .icons {
          padding: 6px 10px; }
          header .navbar.navbar-default .navbar-right .icons span {
            display: inline-block;
            line-height: 34px; }
          header .navbar.navbar-default .navbar-right .icons i {
            margin-right: 10px;
            margin-top: -9px; } }
    header .navbar.navbar-default .navbar-collapse, header .navbar.navbar-default .navbar-form {
      border-color: transparent; }
    @media (max-width: 767px) {
      header .navbar.navbar-default .navbar-nav > li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        header .navbar.navbar-default .navbar-nav > li.open > a, header .navbar.navbar-default .navbar-nav > li.open > a:focus, header .navbar.navbar-default .navbar-nav > li.open > a:hover {
          background-color: #003c40;
          color: #fff; } }
    header .navbar.navbar-default .navbar-nav > li.open > a, header .navbar.navbar-default .navbar-nav > li.open > a:focus, header .navbar.navbar-default .navbar-nav > li.open > a:hover {
      background-color: transparent;
      color: #fff; }
    header .navbar.navbar-default .navbar-nav > li.active > a, header .navbar.navbar-default .navbar-nav > li.active > a:focus, header .navbar.navbar-default .navbar-nav > li.active > a:hover {
      -moz-transition: color 0.4s ease-in-out;
      -o-transition: color 0.4s ease-in-out;
      -webkit-transition: color 0.4s ease-in-out;
      transition: color 0.4s ease-in-out;
      background: transparent;
      color: #b48857; }
      @media (max-width: 767px) {
        header .navbar.navbar-default .navbar-nav > li.active > a, header .navbar.navbar-default .navbar-nav > li.active > a:focus, header .navbar.navbar-default .navbar-nav > li.active > a:hover {
          background: #b48857;
          color: #fff; }
          header .navbar.navbar-default .navbar-nav > li.active > a:hover, header .navbar.navbar-default .navbar-nav > li.active > a:focus:hover, header .navbar.navbar-default .navbar-nav > li.active > a:hover:hover {
            background: #b48857;
            color: #fff; } }
    header .navbar.navbar-default .navbar-nav > li > a {
      -moz-transition: color 0.4s ease-in-out;
      -o-transition: color 0.4s ease-in-out;
      -webkit-transition: color 0.4s ease-in-out;
      transition: color 0.4s ease-in-out;
      text-transform: uppercase;
      font-size: 13px;
      color: #fff;
      font-size: 12px;
      font-weight: lighter; }
      @media (max-width: 1200px) {
        header .navbar.navbar-default .navbar-nav > li > a {
          padding: 10px; } }
      @media (max-width: 992px) {
        header .navbar.navbar-default .navbar-nav > li > a {
          padding: 15px 10px;
          font-size: 12px; } }
      @media (max-width: 767px) {
        header .navbar.navbar-default .navbar-nav > li > a:hover {
          background: transparent;
          color: #fff; } }
    header .navbar.navbar-default .navbar-collapse ul {
      padding: 20px 0; }
      @media (max-width: 767px) {
        header .navbar.navbar-default .navbar-collapse ul {
          padding: 0;
          margin: 0 -15px; } }
  header .navbar .navbar-brand {
    height: 90px;
    padding: 15px 0px; }
    @media (max-width: 992px) {
      header .navbar .navbar-brand {
        height: 50px;
        padding: 0; } }
    @media (max-width: 767px) {
      header .navbar .navbar-brand {
        padding: 0 15px; } }
    header .navbar .navbar-brand a {
      padding: 0;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      width: 200px;
      height: 42px;
      margin: 10px;
      text-indent: -1000%; }
      header .navbar .navbar-brand a h1 {
        text-indent: -999999px;
        display: block;
        width: 100%;
        height: 42px;
        margin-top: 12px; }
        @media (max-width: 992px) {
          header .navbar .navbar-brand a h1 {
            background-size: inherit;
            background-position: 0 -119px;
            height: 32px;
            margin: 30px  0px; } }
        @media (max-width: 767px) {
          header .navbar .navbar-brand a h1 {
            margin: inherit; } }
      @media (max-width: 992px) {
        header .navbar .navbar-brand a {
          width: 150px;
          height: 31px; } }
      @media (max-width: 767px) {
        header .navbar .navbar-brand a {
          margin: 10px 0; } }
header .navbar-default .navbar-toggle {
  padding: 9px 0px;
  border-color: #fff;
  border: none; }
  header .navbar-default .navbar-toggle:hover, header .navbar-default .navbar-toggle:hover:active, header .navbar-default .navbar-toggle:focus, header .navbar-default .navbar-toggle:hover:focus, header .navbar-default .navbar-toggle:active:hover, header .navbar-default .navbar-toggle:active:focus, header .navbar-default .navbar-toggle:focus:hover, header .navbar-default .navbar-toggle:focus:active {
    background: transparent !important; }
  header .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; }
header .nav .dropdown ul.dropdown-menu {
  margin-top: 35px;
  padding: 0;
  border-radius: 0;
  border: 0;
  background: #00484c;
  color: #fff; }
  @media (max-width: 767px) {
    header .nav .dropdown ul.dropdown-menu {
      margin: 0; } }
  header .nav .dropdown ul.dropdown-menu.left:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-left: 20px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #00484c;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }
    @media (max-width: 767px) {
      header .nav .dropdown ul.dropdown-menu.left:before {
        content: none; } }
  header .nav .dropdown ul.dropdown-menu.right:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 0;
    margin-right: 20px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #00484c;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }
    @media (max-width: 767px) {
      header .nav .dropdown ul.dropdown-menu.right:before {
        content: none; } }
  header .nav .dropdown ul.dropdown-menu.center:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #00484c;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; }
    @media (max-width: 767px) {
      header .nav .dropdown ul.dropdown-menu.center:before {
        content: none; } }
  header .nav .dropdown ul.dropdown-menu > li {
    border-bottom: 1px solid #00676e; }
    header .nav .dropdown ul.dropdown-menu > li:last-child {
      border-bottom: none; }
    @media (max-width: 767px) {
      header .nav .dropdown ul.dropdown-menu > li:first-child {
        border-bottom: 1px solid #00676e; } }
@media (max-width: 767px) and (max-width: 767px) {
  header .nav .dropdown ul.dropdown-menu > li {
    background: rgba(255, 255, 255, 0.1); }
    header .nav .dropdown ul.dropdown-menu > li a {
      color: #fff !important; } }

    header .nav .dropdown ul.dropdown-menu > li > a {
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      display: block;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      color: #fff;
      padding: 7.5px 15px;
      clear: both; }
      header .nav .dropdown ul.dropdown-menu > li > a:hover {
        background: #b48857;
        color: #fff; }
header .search {
  padding: 5px 10px !important; }
  header .search .search-header {
    min-width: 180px; }
    header .search .search-header button {
      position: absolute;
      background: transparent;
      border: none;
      color: #fff;
      right: 10px;
      padding: 6px 5px; }
      header .search .search-header button:hover, header .search .search-header button:focus {
        background: transparent;
        border: none;
        color: #fff; }
    @media (max-width: 767px) {
      header .search .search-header {
        display: inline-block;
        width: 100%; } }
    header .search .search-header input[type="text"] {
      border: 0;
      padding: 5px 0;
      font-size: 12px;
      font-weight: 300;
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      header .search .search-header input[type="text"]:-moz-placeholder {
        color: #fff;
        opacity: 0.5;
        text-transform: uppercase; }
      header .search .search-header input[type="text"]::-moz-placeholder {
        color: #fff;
        opacity: 0.5;
        text-transform: uppercase; }
      header .search .search-header input[type="text"]:-ms-input-placeholder {
        color: #fff;
        opacity: 0.5;
        text-transform: uppercase; }
      header .search .search-header input[type="text"]::-webkit-input-placeholder {
        color: #fff;
        opacity: 0.5;
        text-transform: uppercase; }
      header .search .search-header input[type="text"]:focus {
        border-bottom: 1px solid white;
        outline: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; }

.header-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  z-index: -1; }
  @media (max-width: 767px) {
    .header-img {
      display: none; } }
  .header-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/angle1.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 0; }
  .header-img img {
    width: 100%;
    height: auto; }

/*================================
=            slider            =
================================*/
.container-slider {
  position: relative; }
  .container-slider .scroll {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
    z-index: 999; }
    .container-slider .scroll a {
      border: 2px solid #fff;
      padding: 10px 50px;
      color: #fff;
      text-transform: uppercase;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .container-slider .scroll a:hover, .container-slider .scroll a:hover:active, .container-slider .scroll a:focus, .container-slider .scroll a:hover:focus, .container-slider .scroll a:active:hover, .container-slider .scroll a:active:focus, .container-slider .scroll a:focus:hover, .container-slider .scroll a:focus:active {
        background: rgba(255, 255, 255, 0.25);
        text-decoration: none; }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); } }
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }
    .container-slider .scroll body {
      background: black; }
    .container-slider .scroll .icons-arrow {
      position: absolute;
      top: 65px;
      bottom: 0;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 45px;
      background-repeat: no-repeat; }
    .container-slider .scroll .bounce {
      -moz-animation: bounce 3s infinite;
      -webkit-animation: bounce 3s infinite;
      animation: bounce 3s infinite; }
  .container-slider .slider {
    width: 100%;
    height: auto;
    margin: 0; }
    .container-slider .slider .item a {
      display: block;
      width: 100%;
      height: 100%; }
    .container-slider .slider .owl-pagination {
      text-align: left;
      margin-top: -45px; }
    .container-slider .slider .owl-controls .owl-page span {
      margin: 10px 7px; }
  .container-slider .owl-theme .owl-controls .owl-page.active span, .container-slider .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
    position: relative;
    background: #fff;
    border: 2px solid #fff;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .container-slider .owl-theme .owl-controls .owl-page span, .container-slider .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
    position: relative;
    background: none;
    border: 2px solid #fff; }

/*==============================
=            Footer            =
==============================*/
footer {
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: #23585c;
  color: #fff;
  min-height: 200px;
  padding: 55px 0; }
  footer p {
    color: #fff; }
  @media (max-width: 767px) {
    footer {
      text-align: center; } }
  footer .logotipo {
    margin-top: 15px;
    text-align: center; }
  footer .logotipo a {
    background: url(../images/langsnutri-footer.png);
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 205px;
    height: 39px;
    margin: 10px;
    display: inline-block;
    text-indent: -1000%; }
  footer hr {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    border-color: #fff; }
  footer span {
    font-size: 10px; }
  footer h4:after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    height: 3px;
    width: 54px;
    margin: 15px 0 30px;
    background-color: #b18350; }
    @media (max-width: 767px) {
      footer h4:after {
        margin: 15px auto 30px; } }
  footer .sobre-footer p {
    font-size: 11px;
    font-weight: 300;
    margin-top: 28px;
    text-align: justify;
    line-height: 22px; }
    @media (max-width: 767px) {
      footer .sobre-footer p {
        text-align: center; } }
  footer .sobre-footer a {
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 200px;
    height: 42px;
    margin: 10px;
    text-indent: -1000%; }
    @media (max-width: 767px) {
      footer .sobre-footer a {
        margin: 10px auto; } }
    footer .sobre-footer a h4 {
      text-indent: -999999px;
      display: block;
      width: 100%;
      height: 42px; }
      footer .sobre-footer a h4:after {
        content: none; }
  footer .footer-links {
    padding: 0;
    list-style: none; }
    footer .footer-links li a {
      color: #fff;
      line-height: 26px; }
    footer .footer-links p {
      font-size: 12px;
      font-weight: 300; }
  footer .footer-contato .item-footer-contato {
    line-height: 16px;
    margin-bottom: 15px; }
    footer .footer-contato .item-footer-contato span {
      display: block;
      font-size: 11px;
      font-weight: 300; }
      footer .footer-contato .item-footer-contato span.phone {
        padding: 5px 0; }
